<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css.css" rel ="stylesheet">
</head>
<body>
    <div class="cột">
        <div class="sp">
            <div class="tên">Nokia 2006</div>
            <img src="img/img1.jfif">
            <div class="giá">
                <del>$ 150</del>$ 148
            </div>
        </div>
        

    </div>

    <div class="cột">
        <div class="sp">
            <div class="tên">Nokia 2006</div>
            <img src="img/img1.jfif">
            <div class="giá">
                <del>$ 150</del>$ 148
            </div>
        </div>
        

    </div>

    <div class="cột">
        <div class="sp">
            <div class="tên">Nokia 2006</div>
            <img src="img/img1.jfif">
            <div class="giá">
                <del>$ 150</del>$ 148
            </div>
        </div>
        

    </div>


    <div class="cột">
        <div class="sp">
            <div class="tên">Nokia 2006</div>
            <img src="img/img1.jfif">
            <div class="giá">
                <del>$ 150</del>$ 148
            </div>
        </div>
        

    </div>


    <div class="cột">
        <div class="sp">
            <div class="tên">Nokia 2006</div>
            <img src="img/img1.jfif">
            <div class="giá">
                <del>$ 150</del>$ 148
            </div>
        </div>
        

    </div>

    <div class="cột">
        <div class="sp">
            <div class="tên">Nokia 2006</div>
            <img src="img/img1.jfif">
            <div class="giá">
                <del>$ 150</del>$ 148
            </div>
        </div>
        

    </div>


    <div class="cột">
        <div class="sp">
            <div class="tên">Nokia 2006</div>
            <img src="img/img1.jfif">
            <div class="giá">
                <del>$ 150</del>$ 148
            </div>
        </div>
        

    </div>

    <div class="cột">
        <div class="sp">
            <div class="tên">Nokia 2006</div>
            <img src="img/img1.jfif">
            <div class="giá">
                <del>$ 150</del>$ 148
            </div>
        </div>
        

    </div>
    <div class="cột">
        <div class="sp">
            <div class="tên">Nokia 2006</div>
            <img src="img/img1.jfif">
            <div class="giá">
                <del>$ 150</del>$ 148
            </div>
        </div>
        

    </div>




</body>
</html>