<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css.css" rel="stylesheet">
</head>
<body>
    <div id="layout">
        <header></header>
        <div class="menu">
            <ul>
                <li><a href="#">  Trang chủ  |</a></li>
                <li><a href="#">  Ti Vi  |</a></li>
                <li><a href="#">  Tủ Lạnh  |</a></li>
                <li><a href="#">  Máy Giặt  |</a></li>
                <li><a href="#">  Đồ Điện Khác  |</a></li>
                <li><a href="#">  Liên Hệ  |</a></li>
            </ul>
        </div>
        <article>
        </article>
        <aside>
            
        </aside>
        <footer></footer>
    </div>
</body>
</html>