<p>login works!</p>
<form [formGroup]="login" (ngSubmit)="onLogin()">
    email
    <input type="email" formControlName="email">
    <div *ngIf="!email?.valid && email?.touched">
        <span *ngIf="email?.errors?.['required']">khong dc de trong</span>
    </div>
    <br>
    password
    <input type="password" formControlName="pass">
    <div *ngIf="!pass?.valid && pass?.touched">
        <span *ngIf="pass?.errors?.['required']">khong dc de trong</span>
    </div>
    <br>
    <button type="submit" [disabled]="login.invalid">login</button>
</form>